@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
}

.banner {
    background-image: url(../assets/images/banner.jpg);
    background-size: cover;
    min-height: 800px;
}
